**/*.la
**/*.lo
**/*.o
**/*.Plo
**/*.Po
**/.deps
**/.dirstamp
src/config.h
src/stamp-h1
src/ctemplate/find_ptr.h
src/ctemplate/per_expand_data.h
src/ctemplate/str_ref.h
src/ctemplate/template.h
src/ctemplate/template_annotator.h
src/ctemplate/template_cache.h
src/ctemplate/template_dictionary.h
src/ctemplate/template_dictionary_interface.h
src/ctemplate/template_emitter.h
src/ctemplate/template_enums.h
src/ctemplate/template_modifiers.h
src/ctemplate/template_namelist.h
src/ctemplate/template_pathops.h
src/ctemplate/template_string.h
src/htmlparser/fsm_config.pyc
src/htmlparser/htmlparser_fsm.h
**/.libs
template_*test
*_test
**/lib*.pc
config.log
config.status
diff_tpl_auto_escape
libtool
make_tpl_varnames_h
Makefile
statemachine.c
src/htmlparser/jsparser_fsm.h
src/tests/statemachine_test_fsm.h
