# Copyright 2008 Google Inc. All Rights Reserved.
# Author: falmeida@google.com (Filipe Almeida)
#
# Simple state machine definition used in for testing the state machine.

name = 'simple'

comment = 'Simple state machine'

condition('1', '1\xf1')
condition('2', '2\xf2')
condition('E', 'E')
condition('default', '[:default:]')

state(name = 'A',
      external = 'A',
      transitions = [
        ['1', 'B'],
        ['E', 'error_test'],
        ['default', 'A'],
      ])

state(name = 'B',
      external = 'B',
      transitions = [
        ['1', 'C'],
        ['2', 'A'],
        ['default', 'B'],
      ])

state(name = 'C',
      external = 'C',
      transitions = [
        ['1', 'D'],
        ['2', 'B'],
        ['default', 'C'],
      ])

state(name = 'D',
      external = 'D',
      transitions = [
        ['2', 'C'],
        ['default', 'D'],
      ])

state(name = 'error_test',
      external = 'error_test',
      transitions = [
        ['2', 'A'],
      ])
